<div>
  <label for="name">Nombre:</label>
  <input type="text" id="name" [(ngModel)]="nombre" placeholder="Ingresa tu nombre" />

  <p>
  <label>Sexo:</label>
  <input type="radio" id="male" [(ngModel)]="sexo" value="Masculino" /> Masculino
  <input type="radio" id="female" [(ngModel)]="sexo" value="Femenino" /> Femenino
  </p>
  <p>
  <label>Peso:</label>
  <button (click)="modificarPeso(-1)">-</button>
  <span>{{ peso }} kg</span>
  <button (click)="modificarPeso(1)">+</button>
  </p>
  
  <p>
  <label>Altura:</label>
  <button (click)="modificarAltura(-0.01)">-</button>
  <span>{{ altura.toFixed(2) }} m</span>
  <button (click)="modificarAltura(0.01)">+</button>
  </p>

  <button (click)="calcularIMC()">Calcular IMC</button>
</div>